<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js"></script>
    <title>Document</title>
</head>

<body>
    <section ng-app="myapp">
        <div ui-view="viewA"></div>
        <div ui-view="viewB"></div>
        <a ui-sref="welcome">Welcome</a>
        <a ui-sref="app.dashboard">Application</a>
    </section>

    <script type="text/ng-template" id="modallogindialogId">
    <div>
                      <form ng-submit="LoginModalCtrl.submit(_email, _password)">
                        <input type="email" ng-model="_email" />
                        <input type="password" ng-model="_password" />
                        <button>Submit</button>
                      </form>
                      <button ng-click="LoginModalCtrl.cancel()">Cancel</button>
                    </div>
      
    </script>
</body>

</html>